{% extends "base.html" %} 
{% load static %} 
{% block content %}

<div class="body-overlay"></div>
<main>
  <!-- hero start -->
  <section
    class="hero hero__style-one citizenship-hero bg_img pos-rel"
    data-background="{{ slider.image.url }}"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-11">
          <div class="hero__content">
            <h1 class="wow skewIn">{{ slider.title}}</h1>
            <div
              class="hero__bottom wow fadeInUp"
              data-wow-delay="200ms"
              data-wow-duration=".8s"
            >
              <p>{{ slider.sub_title}}</p>
              <a class="thm-btn thm-btn--cr-btn" href="{% url 'contact' %}"
                >Get a Free Consultation
                <span><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cr-hero_shape">
      <div
        class="shape shape--1 wow fadeInUp"
        data-wow-delay="350ms"
        data-wow-duration=".6s"
      >
        <div data-wow-duration=".6s" data-parallax='{"x":80,"y":-80}'>
          <img
            src="{% static 'assets/img/citizenship/cr-fly_shape.html' %}"
            alt=""
          />
        </div>
      </div>
      <div
        class="shape shape--2 wow fadeInRight"
        data-wow-delay="300ms"
        data-wow-duration=".8s"
      >
        <div class="globe">
          <img
            src="{% static 'assets/img/citizenship/hero-glob.html' %}"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- hero end -->
  <!-- feature start -->
  <section class="feature border-bottom">
    <div class="container">
      <div class="xb-feature xb-feature1 ul_li_between">
        <div class="xb-item--inner ul_li">
          <div class="xb-item--icon">
            <i class="fa-brands fa-cc-visa"></i>
          </div>
          <h3 class="xb-item--title">Visa Process, no Interviews</h3>
        </div>
        <div class="xb-item--inner ul_li">
          <div class="xb-item--icon">
            <i class="fa-solid fa-list-ol"></i>
          </div>
          <h3 class="xb-item--title">Faster Processing</h3>
        </div>
        <div class="xb-item--inner ul_li">
          <div class="xb-item--icon">
            <i class="fa-brands fa-readme"></i>
          </div>
          <h3 class="xb-item--title">Up-to-Date Information</h3>
        </div>
        <div class="xb-item--inner ul_li">
          <div class="xb-item--icon">
            <i class="fa-solid fa-file-invoice-dollar"></i>
          </div>
          <h3 class="xb-item--title">Reasonable Cost</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- feature end -->

  <!-- about start -->
  <section class="about pos-rel pt-120 pb-125">
    <div class="container">
      <div class="about-top">
        <div class="row mt-none-30">
          <div class="col-lg-5 mt-30">
            <div class="sec-title style-4">
              <span
                class="sub_title wow fadeInLeft"
                data-wow-delay="0ms"
                data-wow-duration=".8s"
                >{{ about.heading}}
              </span>
              <h1
                class="title wow skewIn"
                data-wow-delay="0ms"
                data-wow-duration=".8s"
              >
                {{ about.sub_heading}}
              </h1>
            </div>
          </div>
          <div class="col-lg-7 mt-30">
            <div
              class="about-top_right wow fadeInRight"
              data-wow-delay="0ms"
              data-wow-duration=".8s"
            >
              <p>{{ about.description | safe | truncatewords:60 }}</p>
              <span
                ><a href="{% url 'about' %}" class="btn-sm">Read More</a></span
              >
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </section>
  <!-- about end -->
  <!-- program start -->
  <section class="program pt-130 pb-130" data-bg-color="#00003c">
    <div class="container">
      <div class="sec-title style-2 style-3 text-center mb-60">
        <span class="sec-title--sub clr-sky"
          ><img src="assets/img/icon/h_star.html" alt="" />study abroad<img
            src="assets/img/icon/h_star.html"
            alt=""
        /></span>
        <h3
          class="sec-title--heading clr-white wow fadeInUp"
          data-wow-delay="0ms"
          data-wow-duration=".8s"
        >
          Top Destination
        </h3>
      </div>
      
      <div class="xb-program-wrap">
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row mt-nonoe-30">
              {% for dest in destinations %}
              <div class="col-lg-4 mt-30">
                <div class="xb-program-item">
                  <div class="xb-item--top">
                    <div class="xb-item--img">
                      <img
                        src="{{ dest.image.url }}"
                        alt="{{ dest.title }}"
                      />
                      <a
                        class="thm-btn thm-btn--cr-btn sec-btn"
                        href="{% url 'destination_detail' dest.slug %}"
                        >Learn More
                        <span><i class="fa-solid fa-arrow-right"></i></span
                      ></a>
                    </div>
                    <ul class="list-unstyled ul_li_between">
                      <li>{{ dest.title }}</li>
                      
                    </ul>
                  </div>
                  <ul class="xb-item--holder list-unstyled">
                    <li>
                      <span>{{ dest.description | safe | truncatewords:40}}
                    </li>
                    
                  </ul>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  </section>
  <!-- program end -->
    <!-- brand start -->
  <section class="brand pt-110 pb-90">
    <div class="container">
      <h2 class="brand-title text-center mb-50">
        <span
          ><span>We proudly work with our trusted partner universities to guide students toward globally recognized education and career success.</span></span
        >
      </h2>
      <div class="xb-swiper-sliders brand-slider">
        <div class="xb-carousel-inner">
          <div class="xb-swiper-container swiper-container">
            <div class="xb-swiper-wrapper swiper-wrapper">
              {% for uni in universities %}
              <div class="swiper-slide xb-swiper-slide">
                <a href="#!"
                  ><img src="{{ uni.image.url }}" alt="{{ uni.title }}"
                /></a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- brand end -->
  <!-- services start -->
  <section class="service service-bottom-pb pos-rel black-bg pt-120">
    <div class="container">
      <div class="xb-service__top ul_li_between mb-20">
        <div class="sec-title sec-title--white style-2 mb-20">
          <span class="sec-title--sub"
            ><img src="assets/img/icon/h_star.html" alt="" />services<img
              src="assets/img/icon/h_star.html"
              alt=""
          /></span>
          <h3 class="sec-title--heading">Easy Study Abroad</h3>
        </div>
      </div>
      <div class="xb-service2__wrap ul_li">
        {% for service in all_services %}
        <div class="xb-service2">
          <div class="xb-item--inner">
            <div class="xb-item--icon">
              <img src="{{ service.image.url }}" height="100" alt="" />
            </div>
            <div class="xb-item--holder">
              <h3 class="xb-item--title">
                <a href="{% url 'service-detail' service.slug %}"
                  >{{ service.title }}
                </a>
              </h3>
              <p class="xb-item--content">
                {{ service.description| safe | truncatewords:20 }}
              </p>
              <a
                class="xb-item--link"
                href="{% url 'service-detail' service.slug %}"
                >Read more</a
              >
            </div>
            <a
              class="xb-item--link-full"
              href="{% url 'service-detail' service.slug %}"
            ></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- services end -->


  <!-- blog start -->
  <section class="blog pb-130">
    <div class="container">
      <div class="blog-wrap">
        <div class="sec-title mb-60 text-center">
          <h2 class="mb-30 wow skewIn">
            Cast Your Eyes Upon Our <br />
            <span>Newest Article</span>
          </h2>
          <p>Explore the most recent addition to our informative articles</p>
        </div>

        <div class="row justify-content-md-center mt-none-30">
          {% for blog in blogs %}
          <div class="col-lg-4 col-md-6 mt-30">
            <div class="xb-blog">
              <div class="xb-item--inner">
                <div class="xb-item--img">
                  <img src="{{ blog.image.url }}" alt="{{ blog.title }}" />
                </div>

                <div class="xb-item--holder">
                  <ul class="xb-item--meta ul_li mb-20">
                    <li>
                      <img
                        src="{% static 'assets/img/icon/calendar.svg' %}"
                        alt=""
                      />
                      {{ blog.created_at|date:"d F Y" }}
                    </li>
                  </ul>

                  <h3 class="xb-item--title border-effect">
                    <a href="{% url 'blog_detail' blog.slug %}">
                      {{ blog.title }}
                    </a>
                  </h3>

                  <a
                    class="xb-item--link"
                    href="{% url 'blog_detail' blog.slug %}"
                  >
                    Read the article
                    <span>
                      <img
                        src="{% static 'assets/img/icon/right_arrow.html' %}"
                        alt=""
                      />
                    </span>
                  </a>
                </div>

                <a
                  class="xb-overlay xb-overlay-link"
                  href="{% url 'blog_detail' blog.slug %}"
                ></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div
          class="xb-blog-bg"
          data-bg-color="#EDF3F5"
          data-background="{% static 'assets/img/bg/blog_bg.html' %}"
        ></div>
      </div>
    </div>
  </section>
  <!-- blog end -->

  <!-- faq start -->
  <section class="faq pt-125 pb-125" data-bg-color="#f5f5f5">
    <div class="container">
      <div
        class="sec-title style-4 text-center mb-60 wow fadeInUp"
        data-wow-delay="0ms"
        data-wow-duration=".8s"
      >
        <span class="sub_title">
          <img
            src="{% static 'assets/img/work-visa/magic-icon02.html' %}"
            alt=""
          />
          faq
          <img
            src="{% static 'assets/img/work-visa/magic-icon.html' %}"
            alt=""
          />
        </span>
        <h1 class="title">Common questions answered</h1>
      </div>

      <div class="faq-wrap">
        <ul class="accordion_box clearfix">
          {% for faq in faqs %}
          <li
            class="accordion block {% if forloop.first %}active-block{% endif %}"
          >
            <div class="acc-btn">
              {{ faq.question }}
              <i class="fa-solid fa-angle-down"></i>
            </div>

            <div class="acc_body {% if forloop.first %}current{% endif %}">
              <div class="content">
                <p>{{ faq.answer|linebreaks }}</p>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="faq-shape">
        <img src="{% static 'assets/img/work-visa/faq-shape.html' %}" alt="" />
        <div
          class="shape wow fadeInLeft"
          data-wow-delay="0ms"
          data-wow-duration=".8s"
        >
          <div data-parallax='{"x":30,"y":0}'>
            <img src="{% static 'assets/img/work-visa/flan02.html' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- faq end -->

  <!-- brand start -->
  <section class="brand pt-110 pb-90">
    <div class="container">
      <h2 class="brand-title text-center mb-50">
        <span
          ><span>We proudly work with our trusted partner universities to guide students toward globally recognized education and career success.</span></span
        >
      </h2>
      <div class="xb-swiper-sliders brand-slider">
        <div class="xb-carousel-inner">
          <div class="xb-swiper-container swiper-container">
            <div class="xb-swiper-wrapper swiper-wrapper">
              {% for uni in universities %}
              <div class="swiper-slide xb-swiper-slide">
                <a href="#!"
                  ><img src="{{ uni.image.url }}" alt="{{ uni.title }}"
                /></a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- brand end -->
</main>

{% endblock content %}
