{% extends "base.html" %} {% block content %}
<main>
  <!-- breadcrumb start -->
  <section
    class="breadcrumb pos-rel bg_img"
    data-background="assets/img/bg/breadcrumb_bg.html"
  >
    <div class="container">
      <div class="breadcrumb__content">
        <h2 class="breadcrumb__title">Team details</h2>
        <ul class="breadcrumb__list clearfix">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Team details</li>
        </ul>
      </div>
    </div>
    <div class="breadcrumb__circle">
      <span class="big" data-parallax='{"y" : 100, "scale" : 0.1}'></span>
      <span class="small" data-parallax='{"y" : 100, "scale" : 0.1}'></span>
    </div>
    <div class="breadcrumb__shape">
      <div class="shape shape--1">
        <div class="shape-inner" data-parallax='{"x":-50,"y":80}'>
          <img src="assets/img/shape/br_shape1.html" alt="" />
        </div>
      </div>
      <div class="shape shape--2">
        <div class="shape-inner" data-parallax='{"x":50,"y":-90}'>
          <img src="assets/img/shape/br_shape2.html" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb end -->

  <!-- team single start -->
  <section class="team-signle pt-120 pb-120">
    <div class="container">
      <div class="team-single__inner">
        <div class="team-single__wrap">
          <div class="row align-items-end">
            <div class="col-xl-7 col-lg-6">
              <div class="team-single__img text-center">
                <img src="assets/img/team/team-sinlge.html" alt="" />
              </div>
            </div>
            <div class="col-xl-5 col-lg-6">
              <div class="team-single__info">
                <h3 class="title">Esther Howard</h3>
                <ul class="info list-unstyled mb-60">
                  <li><strong>Responsibility:</strong>Visa Specialist</li>
                  <li><strong>Experience:</strong>18 Years</li>
                  <li><strong>Email:</strong>nathaniel@example.com</li>
                  <li><strong>Phone::</strong>+91590 088 55</li>
                </ul>
                <div class="team-single__social">
                  <h4>Social Media</h4>
                  <ul class="social ul_li list-unstyled">
                    <li>
                      <a href="#!"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#!"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                      <a href="#!"><i class="fab fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team-single__content">
          <h3>Personal experience</h3>
          <p>
            Since embarking on my journey as an Immigration Visa Specialist at
            e.visa in 2005 my professional expertise has expanded across a vast
            spectrum of intricacies within this dynamic field. As a dedicated
            immigration visa specialist, my focal point revolves around
            harnessing a multitude of skills to extend comprehensive guidance
            and support to individuals embarking..
          </p>
          <p>
            So, welcome to this expedition—an expedition fueled by dedication, a
            panoramic view of expertise, and an unrelenting determination to
            escort individuals through the intricate passages of immigration.
            This journey shares a common thread with web design—precision. Just
            as web designers carefully .
          </p>
          <h3>Professional skills</h3>
          <p>
            As an Immigration Visa Specialist, my career has been built upon a
            solid foundation of expertise and proficiency in guiding individuals
            through the intricate landscape of immigration.
          </p>
          <div class="row mt-none-30 mb-80">
            <div class="col-lg-3 col-md-6 mt-30">
              <div class="team-skills">
                <div class="xb-item--inner">
                  <h2 class="xb-item--number">
                    <span class="xbo" data-count="90">00</span
                    ><span class="suffix">%</span>
                  </h2>
                  <h4 class="xb-item--title">Communication Skills</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-30">
              <div class="team-skills style-2">
                <div class="xb-item--inner">
                  <h2 class="xb-item--number">
                    <span class="xbo" data-count="80">00</span
                    ><span class="suffix">%</span>
                  </h2>
                  <h4 class="xb-item--title">Problem-Solving</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-30">
              <div class="team-skills style-3">
                <div class="xb-item--inner">
                  <h2 class="xb-item--number">
                    <span class="xbo" data-count="89">00</span
                    ><span class="suffix">%</span>
                  </h2>
                  <h4 class="xb-item--title">Cultural Sensitivity</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-30">
              <div class="team-skills style-4">
                <div class="xb-item--inner">
                  <h2 class="xb-item--number">
                    <span class="xbo" data-count="70">00</span
                    ><span class="suffix">%</span>
                  </h2>
                  <h4 class="xb-item--title">Passion for Helping</h4>
                </div>
              </div>
            </div>
          </div>
          <h3>Career guidelines</h3>
          <p>
            Education and Specialization: Begin your journey by obtaining a
            relevant educational foundation. Pursue a degree in fields such as
            law, international relations, or immigration studies.
          </p>
          <ul class="list-unstyled">
            <li>
              <span><img src="assets/img/icon/star.html" alt="" /></span>Strong
              attention to detail
            </li>
            <li>
              <span><img src="assets/img/icon/star.html" alt="" /></span
              >Excellent communication skills
            </li>
            <li>
              <span><img src="assets/img/icon/star.html" alt="" /></span>Ability
              to work under pressure
            </li>
            <li>
              <span><img src="assets/img/icon/star.html" alt="" /></span>Good
              organizational skills
            </li>
            <li>
              <span><img src="assets/img/icon/star.html" alt="" /></span
              >Cultural sensitivity
            </li>
            <li>
              <span><img src="assets/img/icon/star.html" alt="" /></span
              >Language proficiency
            </li>
          </ul>
          <div class="team-single__contact mt-100">
            <h3 class="title">Contact Me</h3>
            <p>
              Your email address will not be published. Required fields are
              marked *
            </p>
            <form class="contact-from" action="#">
              <div class="row">
                <div class="col-lg-6">
                  <div class="xb-item--field">
                    <label for="name">Name</label>
                    <div class="field-inner pos-rel">
                      <span class="icon"
                        ><img src="assets/img/icon/c_user.html" alt=""
                      /></span>
                      <input
                        id="name"
                        type="text"
                        placeholder="Goladria Gomez"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="xb-item--field">
                    <label for="email">Email</label>
                    <div class="field-inner pos-rel">
                      <span class="icon"
                        ><img src="assets/img/icon/c_mail.html" alt=""
                      /></span>
                      <input
                        id="email"
                        type="email"
                        placeholder="e.visa@services.com"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="xb-item--field">
                    <label for="message2">Message</label>
                    <div class="field-inner pos-rel">
                      <span class="icon"
                        ><img src="assets/img/icon/c_mail.html" alt=""
                      /></span>
                      <textarea
                        name="message"
                        id="message2"
                        cols="30"
                        rows="10"
                        placeholder="Simultaneously we had a problem..."
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-button text-center">
                  <button class="thm-btn" type="submit">Send a Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- team single end -->


</main>

{% endblock content %}
